# Ignore all .o files
*.o

# Ignore the file 'playfair' in the root only
/playfair

# Ignore the file 'bmp' in the root only
/bmp

# Allow the folder 'playfair' and its contents
!playfair/
!playfair/playfair